body {
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}

button.btn-primary.alt {
  border-radius: 0;
  background-color: #0b1547;
  border: 0;
  font-size: 0.8706em;
}
button.btn-primary.alt:hover, button.btn-primary.alt:focus, button.btn-primary.alt:active, button.btn-primary.alt:active:focus {
  background-color: #0b1547;
  border: 0;
  box-shadow: none;
}

.fa-bars {
  font-size: 1.5em;
  margin-right: 0.5em;
  padding: 0.3rem;
  cursor: pointer;
  color: grey;
}
.fa-bars:hover, .fa-bars:focus, .fa-bars:active, .fa-bars:active:focus {
  color: #0b1547;
  background-color: #85a4c2;
  border: 0;
  box-shadow: none;
  padding: 0.3rem;
  cursor: pointer;
}

.fa-search {
  color: grey;
  font-size: 1.5em;
  margin-right: 0.5em;
  padding: 0.3rem;
  cursor: pointer;
}

button.btn-outline-white:hover {
  background: #bed4ff;
  color: #2571ff;
}

button {
  margin-right: 1rem;
}

section.header_desc {
  height: 55vh;
}
section.header_desc div {
  height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section.header_desc div h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
section.header_desc div p {
  width: 30%;
  font-size: 0.9rem;
  text-align: center;
}
@media only screen and (max-width: 999px) {
  section.header_desc div p {
    width: 50vw;
  }
}

table thead {
  border-bottom: 2px solid #cccccc;
}
table th {
  color: #4660e2;
  font-weight: 400;
  font-size: 0.9rem;
}
table tbody td.bl {
  border-left: 6px solid;
}
table tbody td.bl.yellow {
  border-left-color: #f7941d;
}
table tbody td.bl.red {
  border-left-color: #bf1e2e;
}
table tbody td.bl.pink {
  border-left-color: #ed207b;
}
table tbody td.bl.blue {
  border-left-color: #25aae2;
}
table tbody td.bl.black {
  border-left-color: #231f20;
}
table tbody td.bl.purple {
  border-left-color: #92278f;
}
table tbody td.bl.grey {
  border-left-color: #808281;
}
table td {
  color: #4660e2;
  vertical-align: middle;
  font-size: 1.2rem;
}
table td a {
  text-decoration: none;
}
table td a h4 {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  margin-top: 0.5rem;
}
table td img {
  border-radius: 50%;
}
table td div.wrapper span,
table td div.wrapper h4 {
  cursor: pointer;
}
table td.topics {
  text-align: right;
}

.box_sm {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.3rem;
  margin-left: 0.4rem;
}

.box_sm.orange {
  background-color: #f1592a;
}

.box_sm.yellow {
  background-color: #f7941d;
}

.box_sm.red {
  background-color: #ed207b;
}

.box_sm.green {
  background-color: #9eb83b;
}

.box_sm.blue {
  background-color: #0088cc;
}

.box_sm.brown {
  background-color: #8c6238;
}

.box_sm.purple {
  background-color: #652d90;
}

.box_sm.grey {
  background-color: grey;
}

div.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
div.wrapper span {
  font-size: 0.8rem;
}

footer.footer {
  background-color: #0b1547;
  color: #85a4c2;
  padding-top: 2rem;
}
footer.footer h4,
footer.footer h5 {
  color: white;
}
footer.footer h5 {
  font-size: 1rem;
}
footer.footer ul {
  padding-left: 0;
  list-style-type: none;
}
footer.footer ul li {
  cursor: pointer;
}
footer.footer ul li a {
  text-decoration: none;
  color: #85a4c2;
}
@media only screen and (max-width: 999px) {
  footer.footer div.bb {
    border-bottom: 1px solid #ffffff15;
  }
}

ul.footer {
  display: flex;
  font-size: 0.75rem;
}
ul.footer li {
  margin-right: 1rem;
}
ul.footer li a {
  text-decoration: none;
  color: #85a4c2;
}

div.tb {
  border-top: 1px solid #ffffff15;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

button.btn-grey {
  background-color: #dadff9;
  padding: 0.53em 0.8em;
  border: none;
  border-radius: 0;
  justify-content: end;
}
button.btn-grey:hover {
  background: #4660e2;
  color: #222;
}

div.mb-6 {
  margin-bottom: 8rem;
}

li.list-group-item {
  border: 1px solid #616161;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
li.list-group-item:hover {
  background: #11457d;
  border: #11457d 1px solid;
  color: #fff;
}

li.list-group-item.py-3 {
  padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important;
}

li.list-group-item:first-child,
li.list-group-item:last-child {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

li.list-group-item + .list-group-item {
  border-top-width: 1px;
}

div#display div.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
div#display img {
  border-radius: 50%;
  width: 6rem;
}

div.card_hover:hover {
  cursor: pointer;
}
div.card_hover:hover img {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

ul.wallet_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
ul.wallet_footer a img {
  width: 2rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid darkgray;
}

.modal div.modal-body,
.modal div.nav.nav-tabs {
  font-size: 0.86rem !important;
}
.modal p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .modal-sm {
    max-width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
